body
	z-index: 10;
	font-family: 'Josefin Sans', sans-serif;
	// height: 100vh
	// background-image: url("/images/background.jpg")
	// background-size: cover
	// background-position: center
	// background-repeat: no-repeat

#app
	font-size: 2em
	text-align: center
