img
	max-width: 80vw
	margin: auto

nav
	background: none !important
	border-radius: 0 !important
	border: none !important

@media only screen and (min-width: 768px)
	.container-fluid
		display: flex
		justify-content: center

	header
		max-height: 35vh

	.navbar-nav
		background-color: #7289da
		border-bottom-right-radius: .5em
		border-bottom-left-radius: .5em
		height: 5vh
		overflow: visible

nav
	margin-bottom: 0 !important

nav a
	color: rgb(198, 198, 198) !important

nav a:hover
	color: white !important
